html, body {
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    width: 100%;
    height: 100%;
    font-family: 'SF-Regular';
    
}

/* APP HOMEPAGE */

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.available-videos {
    margin: 32px 32px;
    margin-top: 44px;
    font-family: 'SF-Heavy';
    color: white;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 32px;
    text-decoration: none;
    float: right;
    font-weight: bold;
    top: 50%;
}

.navbar-al {
    color: white;
    padding: 24px 32px;
    text-decoration: none;
}

.navbar-li:first-child {
    float: left;
    font-family: 'SF-Heavy';
    font-size: 34px;
}

.navbar-a:hover {
    background-color: purple;
}

.background-video {
    width: 100%;
    height: 600px;
}

.video-div {
    position: relative;
    z-index: 0;
}

.video-overlay-div {
    position:absolute;
    top: 5%;
    left: 22%;
    z-index:1;
}

.home-featured-video {
    font-family: 'SF-Regular';
    font-size: 32px;
    color: white;
}

.home-featured-video-title {
    font-family: 'SF-Thin';
    font-size: 48px;
    color: white;
}

/* MovieBlock.js */

.movieBlock-div {
    position: relative;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    margin: 10px;
    /*width: 50%; */
    display: inline-block;
    text-align: center;
}

.movieBlock-poster {
    text-align: center;
    margin: 0 auto;
}

.movieBlock-ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.movieBlock-li {
    float: left;
}

.movieBlock-vote-button {
    /*display: block;*/
    text-align: center;
    text-decoration: none;
    margin: 20px 20px;
    font-family: 'SF-Regular';
    font-size: 24px;
    border-radius: 10px;
    color: white;
    width: 100px;
}

.movieBlock-vote-button:hover {
    cursor: pointer;
}

.movieBlock-title {
    display: block;
    text-align: center;
    margin: 20px 30px;
    text-decoration: none;
}  

.movieBlock-length {
    display: block;
    text-align: center;
    margin: 20px 30px;
    text-decoration: none;
}

.movieBlock-summary {
    display: block;
    text-align: center;
    margin: 20px 30px;
    text-decoration: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    border: 2px solid green;
  }

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*margin: 10px;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.movieBlock-div:hover .overlay {
    opacity: 1;
}

.block-container {
    /* bruh */
}

.vote-button-div {
    text-align: center;
}

.hover-text {
    padding: 10px;
}

.hover-text-p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    font-size: 18px;
}

/* LOGIN PAGE */

.login-div-page {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(#00e1ff, rgb(136, 255, 0));
    text-align: center;
}

.login-div {
    padding: 20px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px auto;
    height: 200px;
}

.login-title {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font: "Lucida Sans Unicode";
}

.login-p {
    color: white;
}

.facebook {
    
}

@font-face {
    src: url('./SF-Pro-Display-Heavy.otf');
    font-family: 'SF-Heavy';
}

@font-face {
    src: url('./SF-Pro-Display-Regular.otf');
    font-family: 'SF-Regular';
}

@font-face {
    src: url('./SF-Pro-Display-Thin.otf');
    font-family: 'SF-Thin';
}

/* SLIDER */

.slider-fragment {
    text-align: center;
    margin: 0 auto;
}

.slide-div {
    width: 300px;
    text-align: center;
    color: white;
    border: 2px solid orange;
}

.slider-fragment {
    width: 90%;
}
